body {
    font-family: 'Nunito';
}

.deep {
    background-color: #4A6670;
}


#title {
    height: 300px;
}

h1 {
    color: white;
    size: 3em;
}

#content {
    margin-top: 50px;
}


.embed-responsive-orientation::before {
    padding-top: 100%;
}

@media screen and (orientation:portrait) {
    .embed-responsive-orientation::before {
        /*3 by 4*/
        padding-top: 133.33%;
    }
}
@media screen and (orientation:landscape) {
    .embed-responsive-orientation::before {
        /*4 by 3*/
        padding-top: 75%;
    }

}


