
 .jumbotron {
     height: 100vh;
     background-image:url("/static/stylesheets/sapling.jpg");
     background-repeat: no-repeat;
     background-size: cover;
 }

.jumbotron h1 {
    font-size: 80px;
    font-family: arvo;
    font-weight: 300;
    letter-spacing: 6px;
}

.jumbotron h3 {
    font-weight: 300;
}

.jumbotron h1, .jumbotron h3 {
    color: white;
}

.course-panel {
    padding: 20px;
}


.jumbotron .container {
    position: relative;
    top:30%;
    text-align: left;
}

.navbar-inverse {
    margin-bottom: 0;
}
