<!DOCTYPE html>
<html>
<head>
    {{template "head.gohtml"}}
    <script src="https://kit.fontawesome.com/a0a098a18f.js"></script>
</head>
    <body>
    {{template "nav.gohtml"}}
        <div class="container">
            <div class="row">
                <div class="col text-right">
                    <a href="/logout" class="text-info"><i class="fa fa-sign-out"></i> Log out</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col text-center">
                    <img src="https://avatars.dicebear.com/v2/bottts/{{.U.Name}}.svg" width="100">
                    <h2>{{.U.Name}}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="card-body text-center">
                        <h2 class="card-title">{{len .Ps}}</h2>
                    </div>
                </div>
                <div class="col-4">
                        <div class="card-body text-center">
                            <h2 class="card-title"><i class="fa fa-award text-success"></i></h2>
                        </div>
                </div>
                <div class="col-4">
                    <div class="card-body text-center">
                        <h2 class="card-title"><i class="fa fa-trophy text-warning"></i></h2>
                    </div>
                </div>
            </div>


            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">C02</th>
                    </tr>
                </thead>
                <tbody>

                    {{ range .Ps}}
                        <tr>
                            <td><a class="text-secondary" href="/product/{{.Ean}}">{{or .Name "Unknown Product"}}</a></td>
                            <td>-</td>
                        </tr>

                    {{end}}

                </tbody>
            </table>

            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-info" href="/scan" role="button">Scan a Product</a>
                </div>
            </div>
        </div>


    </body>
</html>