<!DOCTYPE html>

<html>
    <head>
        {{template "head.gohtml"}}
    </head>
    <body>
        {{template "nav.gohtml"}}
        <div class="deep">
            <div class="row" id="title">
                <div class="col">

                </div>
                <div class="col text-center my-auto">
                    <h1 class="display-2">Sapling</h1>
                    <p class="text-light">Carbon Conscious Commerce. Powered by AI.</p>
                </div>
                <div class="col">

                </div>

            </div>

            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-10 text-center">
                    <img src="/static/img/sapling-m.png" class="img-fluid">
                </div>
                <div class="col-1">

                </div>
            </div>

        </div>

        <div class="container" id="content">

            <h2>The Problem</h2>
            <p>Every day, we spend over <a href="https://www.statista.com/statistics/443522/global-retail-sales/">$71 billion</a> on stuff. We know what it costs us in terms of dollars, but not what it costs the planet in terms of carbon emissions.</p>

            <p>The target set by the Paris Agreement gives us until 2050 to eliminate net emissions to give a chance of averting devastating climate change. Whether that’s aggressive enough is unclear.</p>

            <p>But whatever the target, the implication is that every person on Earth needs to be climate neutral. Soon. You can either be part of the problem or part of the solution.</p>

            <p>Do you have any idea which you are?</p>

            <p>Not yet...</p>

            <h2>The Product</h2>

            <p>Imagine an extra column on your bank statement. It’s not in pounds and pence; it’s in grammes. It’s the carbon footprint of every single purchase you make.</p>

            <p>Now you know.</p>

            <p>Easy-to-understand reports give you the breakdown and highlight opportunities for improvement. Switch to retailers who favour local produce. See how many tonnes you can save by switching your energy supplier. Still over budget? Plant some trees!</p>

            <h2>The Plan</h2>
            <p>Sapling is a community. That’s why the first round of investment is a crowdfund. £100K is needed to take the current prototype to the next stage.</p>

            <p>Already in place:</p>
                <ul>
                    <li>Prototype <a href="/scan">AI Carbon Classifier</a></li>
                    <li>An API layer to connect to Open Banking, Point of Sale and IoT devices</li>
                    <li>Baseline data for over 30,000 products - growing all the time</li>
                </ul>

                    <p>To do:</p>
            <ul>
                <li>User Experience design</li>
                <li>KYC onboarding</li>
                <li>FCA approval</li>
            </ul>

            <p>With that in place, we will seek £1m in venture capital, mainly for marketing and user acquisition.</p>

            <h2>The Opportunity</h2>

            <p>Our economy is still set up in so many ways for the Age of Oil. People want to change their habits, but the tools and systems for a new sustainable economy aren’t there.</p>

            <p>Thankfully, we are witnessing a massive generational shift in mindset. The School Strike for Climate Movement shows that the younger generation are less interested in consumerism and actually want to do something about the climate crisis.</p>

            <p>Part of the Sapling mission is with schools. Not a typical education programme - it's also about adults learning from kids, through hands-on, collaborative activities. Best of all, schools will be rewarded for helping us create the biggest, most comprehensive, most accurate database of products' environmental impact in the Universe. Be the first to scan an undocumented product and you will earn points every time that product is purchased! </p>

            <h2>The Payback</h2>
            <p>Profit is good. Profit motivates. But profit at the expense of the planet’s future is not worth having.</p>

            <p>Sapling will makes sustainable profits by providing valuable anonymised data insights, APIs and SaaS products to organisations, and by offering 'next generation' financial services to young, carbon conscious consumers. </p>


        </div>
    </body>
</html>