<!DOCTYPE html>
<html>
    <head>
        {{template "head.gohtml"}}
    </head>
    <form>
        {{template "nav.gohtml"}}
        <div class="container">
            {{if .P.Virgin}}
                <div class="alert alert-info mt-2">
                    {{if .Auth}}
                        <strong>Congratulations!</strong> This product has not been scanned by anyone yet. We've added it to <a class="text-info" href="/dashboard">your list.</a>
                    {{else}}
                        This product has not been scanned by anyone yet. To make it yours, simply <a class="text-info" href="/register">create a free account</a> and scan it again.
                    {{end}}
                </div>
            {{end}}

            <div class="row mt-4">
                <div class="col text-center" id="title-fix">
                    <h2>
                        {{or .P.Name "Unknown Product"}} {{ if .Auth }}<a href=""><img id="pencil" src="/static/img/svg/pencil.svg" width="16" alt="Edit"></a>{{ end }}
                    </h2>
                </div>
                <div class="col text-center" id="title-editable" style="display: none;">
                    <input name="name" type="text" class="form-control mb-3 updatable" value="{{or .P.Name "Unknown Product"}}">
                </div>
            </div>

            <div class="row">
                <div class="col">
                </div>
                <div class="col-6 text-center">
                    <!-- <img src="http://img.tesco.com/Groceries/pi/718/5018922117718/IDShot_90x90.jpg" class="img-fluid"> -->
                </div>
                <div class="col">
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <p class="text-secondary mb-0"><small>CARBON FOOTPRINT</small></p>
                    <h2 class="text-warning mb-0"><strong>{{ .F }}</strong></h2>
                </div>
            </div>

            <table class="table mt-3">
                <tbody>
                <tr>
                    <td>
                        EAN
                    </td>
                    <td>
                        <a class="text-secondary" target="_blank" href="https://google.com/search?q={{ .P.Ean }}">{{ .P.Ean }}</a>
                    </td>
                </tr>

                {{if .P.Info.QtyContents.NetContents}}
                        <tr>
                            <td>Weight</td>
                            <td>{{.P.Info.QtyContents.NetContents}}</td>
                        </tr>
                    {{end}}

                    {{ if .P.Info.CalcNutrition}}
                        {{ range .P.Info.CalcNutrition.CalcNutrients}}
                            <tr>
                                <td>{{ .Name}}</td>
                                <td>{{ .ValuePerServing}}</td>
                            </tr>

                        {{end}}
                    {{end}}
                </tbody>
            </table>

        </div>
    <script src="/static/js/product.js"></script>

    </body>
</html>