<!DOCTYPE html>
<html>
{{template "head.gohtml"}}
<body>
    {{template "nav.gohtml"}}
    <div class="container">
        <div class="row mt-4">
            <div class="col text-center">
                <h2>Scan a Product</h2>
                <p>Find out about any product's carbon footprint by scanning with the beta AI Carbon Classifier.</p>
                <p>Tip: the scanner is still being tweaked so please hold the item still with the barcode center frame, close to the lens.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-3 d-none d-lg-block">
            </div>
            <div class="col">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="/iframe"></iframe>
                </div>
            </div>
            <div class="col-3 d-none d-lg-block">
            </div>
        </div>
    </div>


</body>
</html>