<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheets/app.css">

    <title>Sapling</title>
</head>
<body>
<div class="welcome center"></div>
<div>
    Sapling is a challenger bank.

    It challenges more than just the financial industry.

    It’s a new type of bank for a new economy.

    It empowers its community to make the changes the planet needs.
    The Opportunity
    The financial sector is already being disrupted, with startups such as Monzo, Starling and Revolut taking advantage of a new EU regulatory framework and stealing customers from the incumbents at alarming rates.

    At the same time, we are witnessing a massive generational shift in mindset. The School Strike for Climate Movement shows that - thankfully - the younger generation are less interested in consumerism and actually want to do something about the climate crisis.

    There is a disconnect: the economy is still set up in so many ways for the Age of Oil. People want to change their habits, but the tools and systems for a new sustainable economy aren’t there.

    Not yet.

    The Problem
    The target set by the Paris Agreement gives us until 2050 to eliminate net carbon emissions to give a chance of averting devastating climate change. Whether that’s aggressive enough is unclear.

    But whatever the target, the implication is that every person on Earth needs to be climate neutral. Soon. You can either be part of the problem or part of the solution.

    Do you have any idea which you are?

    Not yet!

    The Product
    Did you notice that in 2018, cash became virtually obsolete? This means that everything you spend goes through your bank and / or cards.

    Imagine an extra column on your bank statement. It’s not in pounds and pence; it’s in grammes. It’s the carbon footprint of every single purchase you make.

    Now you know.

    Easy-to-understand reports give you the breakdown and highlight opportunities for improvement. Switch to retailers who’ve banned single-use packaging and favour local produce. See how many tonnes you can save by switching your energy supplier. Still over budget? Plant some trees!

    The Plan
    Sapling is a community. That’s why the first round of investment is a crowdfund. We need £100K to take the current prototype to the next stage.

    We already have:

    Prototype Android and iOS apps
    An API layer to connect to Open Banking, Point of Sale and loT devices
    Support for cryptocurrencies

    We now need:

    User Experience design
    KYC onboarding
    FCA approval

    With that in place, we will seek £1m in venture capital, mainly for marketing and user acquisition.
    The Payback
    Profit is good. Profit motivates. But profit at the expense of the planet’s future is not worth having.

    Sapling makes sustainable profits by lending to ethical projects, and these profits are distributed to our shareholders.

</div>
</body>
</html>