<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheets/app.css">

    <title>Sapling</title>
</head>
<body>
    <div class="hero">
        <div class="row" id="title">
            <div class="col">

            </div>
            <div class="col text-center my-auto">
                <h1 class="display-2">Sapling</h1>
                <p>Next generation banking.</p>
            </div>
            <div class="col">

            </div>

        </div>

        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10 text-center">
                <img src="/static/img/sapling-m.png" class="img-fluid">
            </div>
            <div class="col-1">

            </div>
        </div>

    </div>
    <div class="container" id="content">
        <p> Sapling is a challenger bank.

            It challenges more than just the financial industry.

            It’s a new type of bank for a new economy.

            It empowers its community to make the changes the planet needs.</p>

        <h2>The Opportunity</h2>
        <p>The financial sector is already being disrupted, with startups such as Monzo, Starling and Revolut taking advantage of a new EU regulatory framework and stealing customers from the incumbents at alarming rates.</p>

        <p>At the same time, we are witnessing a massive generational shift in mindset. The School Strike for Climate Movement shows that - thankfully - the younger generation are less interested in consumerism and actually want to do something about the climate crisis.</p>

        <p>There is a disconnect: the economy is still set up in so many ways for the Age of Oil. People want to change their habits, but the tools and systems for a new sustainable economy aren’t there.</p>

        <p>Not yet.</p>

        <h2>The Problem</h2>
        <p>The target set by the Paris Agreement gives us until 2050 to eliminate net carbon emissions to give a chance of averting devastating climate change. Whether that’s aggressive enough is unclear.</p>

        <p>But whatever the target, the implication is that every person on Earth needs to be climate neutral. Soon. You can either be part of the problem or part of the solution.</p>

        <p>Do you have any idea which you are?</p>

        <p>Not yet!</p>

        <h2>The Product</h2>

        <p>Imagine an extra column on your bank statement. It’s not in pounds and pence; it’s in grammes. It’s the carbon footprint of every single purchase you make.</p>

        <p>Now you know.</p>

        <p>Easy-to-understand reports give you the breakdown and highlight opportunities for improvement. Switch to retailers who’ve banned single-use packaging and favour local produce. See how many tonnes you can save by switching your energy supplier. Still over budget? Plant some trees!</p>

        <h2>The Plan</h2>
        <p>Sapling is a community. That’s why the first round of investment is a crowdfund. £100K is needed to take the current prototype to the next stage.</p>

        <p>Already in place:</p>
            <ul>
                <li>Prototype Android and iOS apps</li>
                <li>An API layer to connect to Open Banking, Point of Sale and loT devices</li>
                <li>Support for cryptocurrencies</li>
            </ul>

                <p>To do:</p>
        <ul>
            <li>User Experience design</li>
            <li>KYC onboarding</li>
            <li>FCA approval</li>
        </ul>

        <p>With that in place, we will seek £1m in venture capital, mainly for marketing and user acquisition.</p>

        <h2>The Payback</h2>
        <p>Profit is good. Profit motivates. But profit at the expense of the planet’s future is not worth having.</p>

        <p>Sapling makes sustainable profits by lending to ethical projects, and these profits are distributed to its shareholders.</p>

    </div>
</body>
</html>