<!DOCTYPE html>

<html>
    <head>
        {{template "head.gohtml"}}
    </head>
    <body>
        {{template "nav.gohtml"}}
        <div class=container>

            <div class="row mt-4">
                <div class="col text-center">
                    <h2 class="text-center">Terms of website use</h2>
                </div>
            </div>

            <div class=content>
                <p>
                    This page (together with the documents referred to in it) tells you the terms of use on which you may make use of our website <a class="text-muted" href="/">sapling.cloud</a> (our site), whether as a guest or as a registered user. Use of our site
                    includes accessing, browsing, or registering to use our site.
                </p>
                <p>
                    Please read these terms of use carefully before you start to use our site. We recommend that you print a copy of this for future reference.
                </p>
                <p>
                    By using our site, you confirm that you accept these terms of use and that you agree to comply with them.
                </p>
                <p>
                    If you do not agree to these terms of use, you must not use our site.
                </p>

                <h4>
                    Other applicable terms
                </h4>
                <p>
                    These terms of use refer to our <a class="text-muted" href="/privacy">Privacy Policy</a>, which will also apply to your use of our site. This sets out the terms on which we
                    process any personal data we collect from you, or that you provide to us, as well as information about the cookies on our site. By using our site, you
                    consent to us processing your data and you warrant that all data provided by you is accurate.
                </p>
                <h4>
                    Information about us
                </h4>
                <p>
                    The site is operated by Sapling Technologies. We are a limited company registered in England and Wales under company number
                    12180274 and have our registered office at 35 King Street, Bristol, BS1 4DZ.
                </p>

                <h4>
                    Changes to these terms
                </h4>
                <p>
                    We may revise these terms of use at any time by amending this page. Please check this page from time to time to take notice of any changes we make, as
                    they are binding on you.
                </p>

                <h4>
                    Accessing our site
                </h4>
                <p>
                    Unless otherwise stated for particular content and/or functionality, our site is made available free of charge.
                </p>
                <p>
                    We do not guarantee that our site, or any content or functionality on it, will always be available or be uninterrupted. Access to our site is permitted
                    on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of our site without notice. We will not be liable to you if for
                    any reason our site is unavailable at any time or for any period.
                </p>
                <p>
                    You are responsible for making all arrangements necessary for you to have access to our site.
                </p>
                <p>
                    You are also responsible for ensuring that all persons who access our site through your internet connection and/or on your behalf, are aware of these
                    terms of use and other applicable terms and conditions, and that they comply with them.
                </p>

                <h4>
                    Changes to our site
                </h4>
                <p>
                    We may update our site from time to time, and may change the content at any time. However, please note that any of the content on our site may be out
                    of date at any given time, and we are under no obligation to update it.
                </p>
                <p>
                    We do not guarantee that our site, or any content on it, will be free from errors or omissions.
                </p>

                <h4>
                    Your account and password
                </h4>
                <p>
                    If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you
                    must treat such information as confidential. You must not disclose it to any third party.
                </p>
                <p>
                    We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our reasonable
                    opinion you have failed to comply with any of the provisions of these terms of use.
                </p>
                <p>
                    If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us at <a class="text-muted" href="mailto: hello@sapling.cloud">hello@sapling.cloud</a>
                    and provide any relevant details.
                </p>

                <h4>
                    Intellectual property rights
                </h4>
                <p>
                    We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by
                    copyright laws and treaties around the world. All such rights are reserved.
                </p>
                <p>
                    You may print off one copy, and may download extracts, of page(s) on our site for your personal use and you may draw the attention of others within
                    your organisation to content posted on our site.
                </p>
                <p>
                    You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations,
                    photographs, video or audio sequences or any graphics separately from any accompanying text.
                </p>
                <p>
                    Our status (and that of any identified contributors) as the authors of content on our site must always be acknowledged.
                </p>
                <p>
                    You must not use any part of the content on our site for commercial purposes without obtaining a licence to do so from us or our licensors.
                </p>
                <p>
                    If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you
                    must, at our option, return or destroy any copies of the materials you have made.
                </p>

                <h4>
                    No reliance on information
                </h4>
                <p>
                    The content on our site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain
                    professional or specialist advice before taking, or refraining from, any action on the basis of the content on our site.
                </p>
                <p>
                    Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or
                    implied, that the content on our site is accurate, complete or up-to-date.
                </p>

                <h4>
                    User accounts
                </h4>
                <p>
                    We reserve the right to disable and/or delete any user account which we believe has been set up in breach of our registration requirements.
                </p>


                <h4>
                    Acceptable use &amp; Content standards
                </h4>
                <ol type=a>
                    <li>
                        <h5>Prohibited uses</h5>
                        <p>
                            You may use our site only for lawful purposes. You may not use our site:
                        </p>
                        <ul>
                            <li>in any way that breaches any applicable local, national or international law or regulation;</li>
                            <li>in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;</li>
                            <li>for the purpose of harming or attempting to harm minors in any way;</li>
                            <li>to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards (set out below);</li>
                            <li>to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam);</li>
                            <li>to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</li>
                        </ul>
                        <br/>
                        <p>
                            You also agree:
                        </p>
                        <ul>
                            <li>not to reproduce, duplicate, copy or re-sell any part of our site in contravention of the provisions of our terms of website use;</li>
                            <li>not to access without authority, interfere with, damage or disrupt:
                                <ul>
                                    <li>
                                        any part of our site;
                                    </li>
                                    <li>
                                        any equipment or network on which our site is stored;
                                    </li>
                                    <li>
                                        any software used in the provision of our site; or
                                    </li>
                                    <li>
                                        any equipment or network or software owned or used by any third party.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        <h5>Interactive services</h5>
                        <p>
                            We may from time to time provide interactive services on our site, including, without limitation:
                        </p>
                        <ul>
                            <li>Comment features.</li>
                            <li>Bulletin boards.</li>
                            <li>Private messaging.</li>
                            <li>Question and answer features.</li>
                        </ul>
                        <br/>
                        <p>
                            We will do our best to assess any possible risks for users from third parties when they use any interactive service provided on our site, and we will
                            decide in each case whether it is appropriate to use moderation of the relevant service (including what kind of moderation to use) in the light of
                            those risks.
                        </p>
                        <p>
                            However, we are under no obligation to oversee, monitor or moderate any interactive service we provide on our site, and we expressly exclude our
                            liability for any loss or damage arising from the use of any interactive service by a user in contravention of our content standards, whether the
                            service is moderated or not.
                        </p>
                        <p>
                            All interactive services are subject to fair usage and we reserve the right to suspend or delete any user account which is using any of the interactive
                            services excessively or otherwise in breach of these terms of use.
                        </p>
                    </li>
                    <li>
                        <h5>Content standards</h5>
                        <p>
                            These content standards apply to any and all Content which you contribute to our site and to any interactive services associated with it.
                        </p>
                        <p>
                            You must comply with the spirit and the letter of the following standards.
                        </p>
                        <p>
                            Contributions must:
                        </p>
                        <ul>
                            <li>be accurate (where they state facts).</li>
                            <li>be genuinely held (where they state opinions).</li>
                            <li>comply with applicable law in the UK and in any country from which they are posted.</li>
                        </ul>
                        <br/>
                        <p>
                            Contributions must not:
                        </p>
                        <ul>
                            <li>contain any material which is defamatory of any person.</li>
                            <li>contain any material which is obscene, offensive, hateful or inflammatory.</li>
                            <li>promote sexually explicit material.</li>
                            <li>promote violence.</li>
                            <li>promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</li>
                            <li>infringe any copyright, database right or trade mark of any other person.</li>
                            <li>be likely to deceive any person.</li>
                            <li>be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence.</li>
                            <li>promote any illegal activity.</li>
                            <li>be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety.</li>
                            <li>be likely to harass, upset, embarrass, alarm or annoy any other person.</li>
                            <li>be used to impersonate any person, or to misrepresent your identity or affiliation with any person.</li>
                            <li>give the impression that they emanate from us, if this is not the case.</li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        <h5>Private messaging</h5>
                        <p>
                            For the avoidance of doubt, our acceptable use &amp; content standard apply to private messages and we have the power and right to access and review
                            all private messages transmitted via our site and may do so in our sole discretion if we think it is necessary or if we receive a report of abuse from
                            another user.
                        </p>
                    </li>
                    <li>
                        <h5>Suspension and termination</h5>
                        <p>
                            We will determine, in our discretion, whether there has been a breach of our acceptable use &amp; content standard through your use of our site. When a
                            breach has occurred, we may take such action as we deem appropriate.
                        </p>
                        <p>
                            Failure to comply with our acceptable use &amp; content standards constitutes a material breach of the terms of use, and may result in our taking all
                            or any of the following actions:
                        </p>
                        <ul>
                            <li>immediate, temporary or permanent withdrawal of your right to use our site.</li>
                            <li>immediate, temporary or permanent removal of any posting or material uploaded by you to our site.</li>
                            <li>issue of a warning to you.</li>
                            <li>legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach.</li>
                            <li>further legal action against you.disclosure of such information to law enforcement authorities as we reasonably feel is necessary.</li>
                        </ul>
                        <br/>
                        <p>
                            We exclude liability for actions taken in response to breaches of our terms of use, including our acceptable use &amp; content standards. The responses
                            described above are not limited, and we may take any other action we reasonably deem appropriate.
                        </p>
                    </li>
                </ol>

                <h4>
                    Third party resources and links in our site
                </h4>
                <p>
                    Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no
                    control over the contents of those sites or resources.
                </p>
                <p>
                    We may also provide information about third party products and services, as well as the opportunity to purchase such products and services. In the
                    event that you choose to do so, you will be taken to the relevant third party's website in order to complete your purchase. The third party provider
                    will have its own terms &amp; conditions which you should read prior to using their site, or purchasing any products or services.
                </p>

                <h4>
                    Viruses
                </h4>
                <p>
                    We do not guarantee that our site will be secure or free from bugs or viruses.
                </p>
                <p>
                    You are responsible for configuring your information technology, computer programmes and platform in order to access our site. You should use your own
                    virus protection software.
                </p>
                <p>
                    You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically
                    harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database
                    connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this
                    provision, you would commit a criminal offence under the Computer Misuse Act 1990.
                </p>
                <p>
                    We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to
                    them.
                </p>

                <h4>
                    Linking to our site
                </h4>
                <p>
                    You may link to our site, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it.
                </p>
                <p>
                    You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.
                </p>
                <p>
                    Our site must not be framed on any other site.
                </p>
                <p>
                    We reserve the right to withdraw linking permission without notice.
                </p>
                <p>
                    The website in which you are linking must comply in all respects with the content standards set out above.
                </p>

                <h4>
                    User data removal
                </h4>
                <p>
                    You have the right to request the deletion of your user account and personal data by contacting us at <a class="text-muted" href="mailto: hello@sapling.cloud">hello@sapling.cloud</a>.
                </p>

                <h4>
                    Content removal process
                </h4>
                <p>
                    We may, but shall have no obligation to, monitor the Content published on our site and remove, edit and/or block, Content or accounts posting Content
                    that we determine in our sole discretion violates these terms of use.
                </p>
                <p>
                    If you become aware of any Content which you believe may violate these Terms, is defamatory, offensive, illegal, or invades your privacy, please
                    contact us immediately at <a class="text-muted" href="hello@sapling.cloud">hello@sapling.cloud</a>
                    with details.
                </p>
                <p>
                    We will review the Content in question and determine whether it should be removed. As 'innocent disseminators' of the Content on this site, our policy
                    is to remove Content only when there is a clear legal obligation for us to do so - we will defend our users' right to freedom of speech if we have
                    sufficient reason to believe that content was posted in good faith, without malice and is the honestly held opinion of the author.
                </p>
                <p>
                    We will notify you of our decision as soon as reasonably practicable. If you disagree with our judgement on the removal of Content and still wish it to
                    be removed, we ask that you follow the requirements of the Pre-Action Protocol for Defamation. It is advisable to seek legal guidance on this if
                    necessary.
                </p>

                <h4>
                    Limitation of our liability
                </h4>
                <p>
                    Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent
                    misrepresentation, or any other liability that cannot be excluded or limited by English law.
                </p>
                <p>
                    To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our site or any content on it,
                    whether express or implied.
                </p>
                <p>
                    We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise,
                    even if foreseeable, arising under or in connection with:
                </p>
                <ul>
                    <li>use of, or inability to use, our site; or</li>
                    <li>use of or reliance on any content displayed on our site.</li>
                </ul>
                <p>
                    Please note that in particular, we will not be liable for:
                </p>
                <ul>
                    <li>loss of profits, sales, business, or revenue;</li>
                    <li>business interruption;</li>
                    <li>loss of anticipated savings;</li>
                    <li>loss of business opportunity, goodwill or reputation; or</li>
                    <li>any indirect or consequential loss or damage.</li>
                </ul>
                <p>
                    We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that
                    may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any
                    content on it, or on any website linked to it.
                </p>
                <p>
                    We assume no responsibility for the content of websites linked to from our site. Such links should not be interpreted as
                    endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.
                </p>

                <h4>
                    Applicable law
                </h4>
                <p>
                    These terms of use, its subject matter and its formation, are governed by English law. You and we both agree to that the courts of England and Wales
                    will have exclusive jurisdiction in relation to any claim or dispute.
                </p>

                <h4>
                    Contact us
                </h4>
                <p>
                    To contact us, please email <a class="text-muted" href="hello@sapling.cloud">hello@sapling.cloud</a>.
                </p>

                <p>
                    Thank you for visiting our site.
                </p>

            </div>

        </div>
        {{template "footer.gohtml"}}
    </body>
</html>

